.table_sec{
  width: 40%;
margin-left: auto;
margin-right: auto;

}

.list{
  border-bottom: 2px solid   #48c9b0  !important;
  padding: 10px 0px 10px 0px 
}
.list_sec{
  border: 3px solid  #e74c3c !important;
 border-radius: 10px;
  padding: 0px 20px 0px 20px;
  margin-top:4px;
  height: 540px;
}
.list_sec_div{
  height: 530px;
  overflow-y:scroll 
}
.sec_div{
  background:  #1c2833  ;
  padding-bottom: 4%;
  min-height: 768px
}

.table_design{
  background: white;
}

.input_design{
  border: 2px solid  #e74c3c !important;
border-radius: 4px !important;
width: 100%;
padding: 0px 0px 4px 8px;
height: 50px !important;
}


.link_style{
  text-decoration: none;
color: black;
margin: 0px 30px 0px 30px;
font-size: 18px
}

.link_style:hover {
  text-decoration: none;
color: blue;
}

.Navbarstyle{
  background: #d9d9d9  !important;
  height: 55px;
}

.sections{
  box-shadow: 0px 2px 2px 2px #d7d1d1;
  min-height: 768px;
}
.selected{font-weight: bold;color:green}